<div class='footer'>
  <p><strong>
      Desenvolvido por Wilian Ansanello </strong><br>
    <a href="https://linkedin.com/in/wiliansanello">
      <img src='/linkedin.png' placeholder='LinkedIn' />
    </a>
    <a href="https://github.com/wiliansanello">
      <img src='/github.png' placeholder='Github' />
    </a>
  </p>
</div>

</body>

</html>