<%- include('header') %>
  <div class="form">
    <form method="GET" action="/cotacao">
      <div class="apresenta">
        <label>Informe o valor que deseja converter para a cotação determinada abaixo</label><br>
      </div>
      <input name="cotacao" placeholder="Cotação moeda" value="<%= cotacao%>"><br>
      <input name="quantidade" placeholder="Valor em reais"><br>
      <button>Converter!</button>
    </form>
  </div>
  <%- include('footer') %>