body{
  font-family:Tahoma, sans-serif;
  text-align: center;
  background-color: blue;  
}

h1 img {
  width: 489px;
  margin: 10px;  
}

input{
  border: 1px solid #000000;
  border-radius: 25px;
  background: #b0b0b8;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 4px;
}

select{
  border: solid blue;
  background-color:blue;
  font-size: 20px;
  color: white;
}

button{
  border: 1px solid #ff8000;
  border-radius: 25px;
  background-color:#ff8000;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px 100px 10px 100px;  
  margin: 24px auto 74px auto;
  color:white;
  box-sizing: border-box;
}

button:hover{
  background-color: #c86b19
}

.novaCotacao{
  border: 1px solid #ff8000;
  border-radius: 25px;
  background: #ff8000;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px 100px 10px 100px;  
  margin: 24px auto 140px auto;
  color:white; 
  box-sizing: border-box;
}

.apresenta{
  color:white;
  font-size:20px;   
  margin-bottom: 30px;
}

label{
  color:white;
  font-size:20px;
}

.form{
  margin-top:100px;  
  border: 1px solid blue;
}

.result{
  margin: 100px auto 90px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #f0de8f;
  background: #f0de8f;
  width: 280px;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

.header{
  /*margin-top:-20px;*/
  background: #ff8000;
  border: 1px solid #ff8000;
  width: 100%;
  box-sizing: border-box;
  /*background-image: url('logo.png');*/
}

.footer{
  font-family: Tahoma, sans-serif;
  color: white;
  background: #ff8000;
  padding: 1px;
  width: 100%;
  box-sizing: border-box;  
}

.footer a img{
  display: inline; 
  padding: 10px 2px 0px 2px;
}

a{
  color: white;
}