body{
  background-color: blue; 
  font-family:Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;   
}

h1 img {
  width: 289px;
  margin: 10px;  
}

.form{
  margin-top:180px;    
}

.currency{
  margin-top:150px;
}

input{
  border: 1px solid #ff8000;
  border-radius: 25px;
  background: #b0b0b8;
  font-family:Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 4px;
}

select{
  border: solid blue;
  border-radius:25px;
  background-color:#b0b0b8;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 4px;
  width: 300px;
}

button{
  border: 1px solid #ff8000;
  border-radius: 25px;
  background-color:#ff8000;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px 110px 10px 110px;  
  margin: 24px;
  color:white;  
}

button:hover{
  background-color: #c86b19
}

button:disabled {
  background-color:grey;
  color: black
}

.result{
  margin: auto auto 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #f0de8f;
  background: #f0de8f;
  width: 350px;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  color: black;
  box-sizing: border-box;
}

.header{
  position: fixed;
  top:0px;
  background: #ff8000;
  width: 100%;    
}

.footer{
  position:fixed;
  bottom: 0px;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: white;
  background: #ff8000;
  width: 100%;      
}

.footer a img{
  display: inline; 
  padding: 10px 2px 0px 2px;
}

a{
  color: white;
}